#d_header{
    .container{
        height: 100px;
        padding-top:30px;
        h1{
            width: 236px;
            height: 36px;
            background:url('../img/logo.png') no-repeat;
        }
    }
}
#d_banner{
    height: 520px;
    background:url('../img/b1.jpg');
    .container{
        padding-top:60px;
        .login{
            background:#fff;
            width: 410px;
            padding-top:30px;
            .test{
                padding:0 30px 22px;
                border-bottom:1px solid #ccc;
                h2{
                    padding-right:5px;
                    span{
                        font-size:18px;
                        color:#333;
                    }
                    a{
                        color:#3D86F4;
                        font-size:14px
                    }
                    margin-bottom:40px;
                }
                input,.btn{
                    width: 350px;
                    height: 40px;
                    line-height: 40px;
                    margin-bottom:20px;
                    border:1px solid #ccc;
                    padding-left:10px;
                }
                .btn{
                    padding:0;
                    a{
                        display:block;
                        background:#FF5073;
                        font-size:20px;
                        color:#fff;
                        border:0;
                        text-align:center;
                    }
                    
                }
                p{
                    margin-bottom:20px;
                    font-size:14px;
                }
            }
            .footer{
                padding:13px 30px 15px;
                p{
                    height: 24px;
                    span{
                        font-size:14px;
                        margin-right:40px;
                    }
                    a{
                        margin-right:40px;
                        i{
                            font-size:24px;
                        }
                        .weixin{
                            color:#7EBE18;
                        }
                        .weibo{
                            color:#E6152C;
                        }
                        .qq{
                            color:#222024;
                        }
                    }
                }
            }
        }
    }
    
}