@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
*{box-sizing:border-box;}
fieldset, img,input,button { border:0 none; padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的蓝色边框*/
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0; vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse:collapse; }

body {
    height: 100%;
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff;
     }
.clearfix:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    overflow: hidden;
    visibility: hidden;
    zoom:1;
}
a{color:#666; text-decoration:none;}
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}  /*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.container{  /*版心 提取 */
    width: 1172px;margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.al {
    text-align:left;
}
.ac {
    text-align:center;
}
.ar {
    text-align:right;
}
.hide {
    display:none;
}
.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
.font16{ font-size: 16px;}

/*公共部分*/
/*头部导航开始*/


/*尾部部导航开始*/
/*首页字体图标*/

@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1510817635100'); /* IE9*/
  src: url('../font/iconfont.eot?t=1510817635100#iefix') format('embedded-opentype'), 
  url('../font/iconfont.ttf?t=1510817635100') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1510817635100#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jikediancanicon03:before { content: "\e771"; }

.jiantou-copy:before { content: "\e642"; }

.qingchu:before { content: "\e747"; }

.fangdajing:before { content: "\e60d"; }

.zaixiankefu:before { content: "\e636"; }

.qiandao:before { content: "\e626"; }

.keybown:before { content: "\e619"; }

.wodeshoucang:before { content: "\e65a"; }

.jiantou-copy-copy-copy:before { content: "\e652"; }

.caidan:before { content: "\e628"; }

.shandian:before { content: "\e624"; }

.ic_check_box_px:before { content: "\e6bd"; }

.weixin:before { content: "\e501"; }

.weibo:before { content: "\e62e"; }

.qq:before { content: "\e630"; }

.shouji:before { content: "\e644"; }

.hot2:before { content: "\e502"; }

.dingdanyichenggong:before { content: "\e899"; }

.arrowhead-left:before { content: "\e63a"; }

.delete:before { content: "\e50f"; }

.gouwuche:before { content: "\e606"; }

